*{
    margin: 0px;
    padding: 0px;
}

#mainbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
}

.colorbox{
    height: 200px;
    width: 30%;
    background-color: blueviolet;
    text-align: center;
}

.contentbox{
    color: purple;
    height: 250px;
    width: 30%;
    font-size: 20px;
    border: 2px solid yellow;
    text-align: center;
}

.imgbox{
    background-image: url(bgg1.jpg);
    height: 300px;
    width: 30%;
    background-size: cover;
    text-align: center;
    color: white;
}

